@media(max-width: 500px) {
    body{
      /* width: 100vw; */
      /* position: absolute; */
    }

    .socialMedia{
      /* display: none; */
      /* width: 350px; */
    }
  
    .top-btn{
      padding: 5px;
      margin: 0;
      /* width: 75px; */
      opacity: 0.8;
    }
    .navbar{
      display: flex;
      flex-direction: column;
      padding: 40px 40px 0px 40px;
      width: 100%;
    }
    /* .navbar ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 10px;
      width: auto;
    } */
    .navbar .desktop-nav{
      display: none;
    }
    .navbar .fullScreen-hide{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }
    .navbar .fullScreen-hide a{
      margin: 0px 8px;
      color: #daad86;
    }
    .navbar li:last-child, .navbar li:first-child{
      display: none;
    }
    .navbar li a{
      margin: 0px 30px;
      color: #cc0000;
    }
  
    .sticky{
      /* position: relative; */
      padding: 20px 2px;
    }
    #showcase1 img{
      height: 60vh;
      width: auto;
    }
  
    .showcase-content{
      width: 300px;
      height: auto;
      padding: 10px 0px;
    }
  
    .showcase-content h1{
      font-size: 17px;
    }
  
    .showcase-content .typewriter{
      font-size: 18px;
    }
    .about-container{
      padding: 5px;
      margin-top: 30px;
    }
    .about-container img{
      /* display: none; */
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    .who-content-container{
      margin: 0;
    }
    .about-content{
      width: auto;
      padding: 20px;
    }
    .about-content h2{
      text-align: center;
    }
    .about-content p{
      text-align: left;
      width: 100%;
      font-size: 24px;
    }
    .container-Engage{
      /* display: flex; */
      /* flex-direction: column; */
      /* width: 400px; */
      /* height: auto; */
      /* margin: auto; */
      width: auto;
    }
    .engagements-Container{
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
    .engage-content{
      display: flex;
      flex-direction: column;
      width: auto;
      margin: 0;
      padding: 0;
    }
    .engage-content img{
        width: 100%;
      height: auto;
    }
    .engage-content-container h2{
      font-size: 32px;
    }
    .engage-content-container p{
      font-size: 20px;
    }
    .services-container{}
    .services-container, .services-container .card{
      display: flex;
      flex-direction: column;
      padding: 5px 5px;
      margin-top: 0px;
      margin: auto;
    }
  
    .mobile-hide{
      display: none;
    }
  
    .mobile-IMG{
      display: block;
    }
  
    .services-container > *:first-child,
   .services-container > *:nth-child(2),
   .services-container > *:nth-child(3),
   .services-container > *:last-child{
     display: flex;
     flex-direction: column;
   }
   .services-container .card img{
     margin-top: 25px;
     height: 350px;
     width: auto;
   }
  
   .packages-container{
     display: flex;
     flex-direction: column;
     width: auto;
     padding: 0px;
     background-color: none;
     box-shadow: none;
   }
   .packages-side, .packages-middle{
     margin-top: 0px;
     margin-bottom: 5px;
     border-radius: 0px;
   }
  
   #testimonials, .showcase4{
     display: none;
   }
  
   .gallery-container{
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 5px;
     padding-top: 50px;
   }
   .engage-Port{
    width: 100%;
   }
   .slide{
     width: auto;
     height: auto;
     overflow: hidden;
     box-shadow: none;
   }
   .slide img{
     margin-bottom: 5px;
     width: 100%;
     height: 100%;
   }

  
   .showcase2 .showcase-container, .showcase3 .showcase-container{
     height: 100px
   }
   .showcase2 .showcase-content h3, .showcase3 .showcase-content h3, .showcase5 .showcase-content h3{
     color: black;
   }
  
   .showcase2 img, .showcase3 img, .showcase5 img{
     display: none;
   }
  
   .contact-container{
     width: auto;
   }
   .contact-content{
     width: 80%;
   }
   .ccform{
     padding: 0;
     width: auto;
   }
   .ccField-prepend{
     width: auto;
   }
   .ccField-prepend label{
     font-size: 20px;
   }
   .ccField-prepend input, .ccField-prepend textarea{
     width: auto;
     padding: 20px 10px; line-height: 28px;
     font-size: 16px;
   }
   .btn{
    padding: 10px 20px;
    font-size: 20px;
   }
   .bottomBorder, .bottomBorder2{
    display: none;
  }
  footer{
    font-size: 16px;
  }
  }
